    {% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'radio.edit'|trans }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <div class="buttonWrapper">
            <input class="button" type="submit" value="{{ 'edit'|trans }}" />
            <a class="button" href="{{ path('radio_index') }}">{{ 'back.tolist'|trans }}</a>
        </div>

    {{ form_end(edit_form) }}

    <div class="buttonWrapper">
        {{ form_start(delete_form) }}
            <input class="button danger" type="submit" value="{{ 'delete'|trans }}">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
