<section class="radio-new-view">
    <h1>{{ 'radio.new'|trans }}</h1>

    <form id="radio_save" action="{{ path('radio_new') }}" method="POST">

        <table class="form">
            <tr>
                <td>{{ form_label(form.name) }}</td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.streamUrl) }}</td>
                <td>{{ form_widget(form.streamUrl) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.homepageUrl) }}</td>
                <td>{{ form_widget(form.homepageUrl) }}</td>
            </tr>
            <tr>
                <td colspan="2" class="buttonRow">
                    <input class="button" type="submit" value="{{ 'create'|trans }}" />
                    <a class="button" href="{{ path('radio_index') }}">{{ 'back.tolist'|trans }}</a>
                </td>
            </tr>
        </table>
        {{ form_widget(form._token) }}
    </form>
</section>
