{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block radio_widget %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked is defined %} checked="checked"{% endif %} />
{% endblock radio_widget %}

{% block body %}

    <h1>{{ 'radio.new'|trans }}</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="buttonWrapper">
            <input class="button" type="submit" value="{{ 'create'|trans }}" />
        </div>

    {{ form_end(form) }}

    <div class="buttonWrapper">
        <a class="button" href="{{ path('radio_index') }}">{{ 'back.tolist'|trans }}</a>
    </div>
{% endblock %}
