{% extends 'base.html.twig' %}

{% block body %}
    <h1>Languages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td><a href="{{ path('language_show', { 'id': language.id }) }}">{{ language.id }}</a></td>
                <td>{{ language.name }}</td>
                <td>{{ language.code }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('language_show', { 'id': language.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
