{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ album.name }}</td>
            </tr>
            <tr>
                <th>AlbumSlug</th>
                <td>{{ album.albumSlug }}</td>
            </tr>
            <tr>
                <th>SongCount</th>
                <td>{{ album.songCount }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ album.duration }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ album.year }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ album.genre }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ album.path }}</td>
            </tr>
            <tr>
                <th>CoverArtPath</th>
                <td>{{ album.coverArtPath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('album_index') }}">back to list</a>

    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
