<tbody>
{% for mediaFile in mediaFiles %}
    <tr data-path="{{ mediaFile.webPath }}" data-duration="{{ mediaFile.duration }}">
        <td class="add"><i class="icon-plus"></i></td>
        <td>{{ mediaFile.trackNumber }}</td>
        <td>{{ mediaFile.artist }}</td>
        <td>{{ mediaFile.title }}</td>
        <td>{{ mediaFile.album }}</td>
        <td>{{ mediaFile.duration }}</td>
        <td>{{ mediaFile.year }}</td>
        <td>{{ mediaFile.genre }}</td>
    </tr>
{% endfor %}
</tbody>
