<section class="topbar">

    <div class="logo"><img alt="Soonic" src="/weblogo-grey.png"></div>

    {% if app.request.get('_route') == 'library' %}
    <div id="playerContainer">
        <i class="icon-to-start"></i><i id="playPauseButton" class="icon-play"></i><i class="icon-to-end"></i>

        <audio id="player" preload="none">
            <source id="audioSource" src="" type="audio/mpeg"/>
        </audio>

        <div class="timeInfoContainer">
            <div class="timeInfo">
                <span id="currentTime">00:00 /</span>
                <span id="duration"> 00:00</span>
            </div>
            <div class="ProgressBarContainer">
                <div class="progressbar">
                    <div class="progress-indicator"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="songInfo">
        <span id="songTitle" class="songTitle"></span>
        <span id="songArtist" class="songArtist"></span>
    </div>
    {% endif %}

    <nav class="topbarNav" id="topBarNav">
        <ul class="topNav">
            <li id="navigationSearchForm">
                {{ render(controller( 'App\\Controller\\SearchController::showSearch' )) }}
            </li>
            <li id="navigationLibrary">
                <a id="libraryButton" href="{{ path('library') }}" data-title="artists" title="{{ 'artists'|trans }}"><span class="material-icons">people</span></a>
            </li>
            <li id="navigationRandom">
                <a id="randomButton" href="{{ path('random_songs') }}" data-title="songs.loadrandom" title="{{ 'songs.loadrandom'|trans }}"><span class="material-icons">shuffle</span></a>
            </li>
            <li id="navigationAlbums">
                <a id="albumsButton"  href="{{ path('album_index') }}" data-title="albums" title="{{ 'albums'|trans }}"><span class="material-icons">album</span></a>
            </li>
            <li id="navigationRadios">
                <a id="radioButton" href="{{ path('radio_index') }}" data-title="radios" title="{{ 'radios'|trans }}"><span class="material-icons">radio</span></a>
            </li>
            <li id="navigationRadioNew">
                <a id="radioNewButton" href="{{ path('radio_new') }}" data-title="radio.new" title="{{ 'radio.new'|trans }}"><span class="material-icons">radio</span><span class="material-icons radio-add">add</span></a>
            </li>
            <!-- <li id="navigationBackToRadioIndex">
                <a id="backToRadioIndexButton" href="{{ path('radio_index') }}">{{ 'back'|trans }}</a>
            </li> -->
            <li id="navigationSettings">
                {% if app.request.get('_route') != 'settings_index' %}
                    <a id="settingsButton" data-title="settings" title="{{ 'settings'|trans }}" href="{{ path('settings_index') }}">
                        <span class="material-icons">settings</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <button type="button" class="hamburger hamburger--elastic">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

</section>
