<section class="topbar">

    <div class="logo">S</div>

    {% if app.request.get('_route') == 'library' %}

        <i class="icon-to-start"></i><i id="startStopButton" class="icon-play"></i><i class="icon-to-end"></i>

        <audio id="player" preload="none">
            <source id="mpegSource" src="" type="audio/mpeg"/>
        </audio>

        <div class="timeInfo">
            <span id="currentTime">00:00 /</span>
            <span id="duration"> 00:00</span>
        </div>

        <div class="songInfo">
            <span id="songTitle" class="songTitle"></span>
            <span id="songArtist" class="songArtist"></span>
        </div>

    {% else %}

    {% endif %}

    <nav class="topbarNav" id="topBarNav">

        <ul class="topNav">
        {% if app.request.get('_route') == 'library' %}
            <li>
                {{ render(controller( 'App\\Controller\\SearchController::showSearch' )) }}
            </li>
            <li>
                <a id="random" href="{{ path('random_songs') }}">{{ 'random'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('radio_index') }}">{{ 'radio'|trans }}</a>
            </li>
        {% else %}
            <li>
                {% if 'radio' in app.request.get('_route') and app.request.get('_route') != 'radio_new' %}
                    <a href="{{ path('radio_new') }}">{{ 'radio.new'|trans }}</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'radio_new' %}
                    <a href="{{ path('radio_index') }}">{{ 'back'|trans }}</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'settings_index' %}
                    <a href="{{ path('radio_index') }}">{{ 'radio'|trans }}</a>
                {% endif %}
            </li>
            <li>
                <a href="{{ path('library') }}">{{ 'music'|trans }}</a>
            </li>
        {% endif %}
            <li>
                {% if app.request.get('_route') != 'settings_index' %}
                    <a class="noPadding" href="{{ path('settings_index') }}">
                        <i class="icon-cog button"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>


    <button type="button" class="hamburger hamburger--elastic">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

</section>
