<nav class="artists-navigation">

    <div class="filter">
        <form class="filterForm" method="post">
            <label for="filter" data-text='filter'>{{ 'filter'|trans }}</label><input type="text" class="filterInput" name="filter" value="" placeholder="{{ 'filter.placeholder'|trans }}" required="required" autocomplete="off" data-text='filter.placeholder'>
            <button class="input-reset" type="reset"></button>
        </form>
    </div>

    {% include('library/artist-nav-list.html.twig') %}

    <div class="mobileButton mobileForwardButton mobileArtistsToSongsButton">
        <i class="icon-right-open"></i>
    </div>

</nav>

{{ include('library/songs.html.twig') }}
{{ include('library/playlist.html.twig') }}


<div class="songsContextMenu">
  <ul class="menu-options">
    <li id="addToPlaylist" class="menu-option">{{ 'playlist.add'|trans }}</li>
  </ul>
</div>

<div class="playlistContextMenu">
  <ul class="menu-options">
    <li id="removeFromPlaylist" class="menu-option">{{ 'playlist.remove'|trans }}</li>
  </ul>
</div>
