<section id="songsHeader" class="songs">
    <table id="" class="list">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>{{ 'artist'|trans }}</th>
                <th>{{ 'title'|trans }}</th>
                <th>{{ 'album'|trans }}</th>
                <th>{{ 'duration'|trans }}</th>
                <th>{{ 'year'|trans }}</th>
                <th>{{ 'genre'|trans }}</th>
            </tr>
        </thead>
    </table>
</section>
<section id="songs" class="songs"><table id="songslist" class="list">
    <thead><tr><th></th><th></th><th></th><th></th><th></th>
        <th></th><th></th><th></th></tr>
    </thead>
</table></section>

<div class="mobileButton mobileForwardButton mobileSongsToPlaylistButton">
    <i class="icon-right-open"></i>
</div>

<div class="mobileButton mobileBackButton mobileSongsToArtistsButton">
    <i class="icon-left-open"></i>
</div>
